*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{

    max-width: 100vw;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 13px;

}

header{

    height: 223px;

}

nav{

    height: 60px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;

}

.smartphone{

    display: none;

}


.menu{

    height: 26px;
    background-color: #000000;

}

.menu-faketrigger{

    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;

}

.menu-faketrigger:checked ~.menu-lines span{

    background-color: #000000;

}

.menu-faketrigger:checked ~.menu-lines span:nth-child(1){

    transform-origin: 0% 0%;
    transform:rotate(45deg) scaleX(1.25);

}

.menu-faketrigger:checked ~.menu-lines span:nth-child(2){

    opacity: 0;

}

.menu-faketrigger:checked ~.menu-lines span:nth-child(3){

    transform-origin: 0% 100%;
    transform:rotate(-45deg) scaleX(1.25);

}

.menu-lines{

    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;

}

.menu-lines span{

    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 3px;
    transition: all ease .2s;

}

.smartphone ul{

    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 250px;
    height: calc(100vh - 100px);
    padding-top: 100px;
    background-color: #FFFFFF;
    opacity: 0.9;
    margin-left: -250px;
    transition: all ease .2s;

}


.menu-faketrigger:checked ~ul{

    margin-left: 0;

}

.smartphone ul li{

    padding: 10px 30px;


}

.smartphone ul li a{

    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: 400;

}

.smartphone ul li a:hover{

    border-bottom: #000000 2px solid;

}


.menu :hover{

    border-bottom: #FFFFFF solid 2px;

}

.menu:nth-child(1){

    margin-left: 80px;

}

.menu:nth-child(5){

    margin-right: 80px;

}

.menu a{

    text-decoration: none;
    color: #FFFFFF;

}

.logo{

    height: 130px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.logo-image{

    width: 360px;
    height: 100%;
    background-image: url(../images/logo.png);
    background-size:cover;
    background-position: center;

}

.banner{

    width: 100%;
    height: 460px;
    background-image: url(../images/banner.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;

}

.banner-text{

    width: 80%;
    height: 203px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: auto;
    display: flex;
    justify-content: center;

}


.bt1{

    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;

}

.bt1 h1{

    font-size: 60px;
    font-weight: 600;

}


.bt1 h2{

    font-size: 25px;
    font-weight: 400;

}

.bt1 .banner-button{

    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 95px;
    background-color: #000000;
    border: #FFFFFF 2px solid;

}


.button-text{

    padding-top: 10px;
    font-size: 15px;
    color: #FFFFFF;

}

.button-text a{

    text-decoration: none;
    color: #FFFFFF;  

}


.container-article{

    display: flex;
    justify-content: center;

}

#articles{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;

}

article{

    width: 440px;

}


.bar{

    width: 90%;
    height: 2px;
    background-color: #000000;
}

.article-title{

    font-size: 25px;
    font-weight: 400;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;

}


.article1-img{

    width: 440px;
    height: 265px;
    background-image: url(../images/article1.jpg);
    background-size:cover;
    background-position: center;

}


.article2-img{

    width: 440px;
    height: 265px;
    background-image: url(../images/article2.jpg);
    background-size:cover;
    background-position: center;

}


.container-text{

    padding-top: 25px;
    display: flex;
    justify-content: space-between;

}

.article-text{

    width: 360px;
    font-size: 18px;
    color: #000000;
    font-weight: 300;

}

.article-button{

    width:50px;
    height:50px;
    border-top: #000000 2px solid;
    border-left: #000000 2px solid;
    border-right: #000000 2px solid;
    border-bottom: #000000 2px solid;
    display: flex;
    justify-content: center;

}

.article-button-text{

    padding-top: 6px;
    font-size: 25px;
    font-weight: 400;

}

.article-button-text a{

    text-decoration: none;
    color: #000000;

}


footer{

    padding-top: 70px;

}

.container-footer{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
    background-color: #000000;

}


.footer-bar{

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    color: #FFFFFF;

}


.footer-content{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


@media(min-width:450px) and (max-width:800px){

    #articles{

        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 60px;
    
    }

    #article2{

        padding-top: 60px;

    }



}

@media(max-width:450px){

    
    .menu{

        display: none;

    }

    .smartphone{
        display: block;
        position: absolute;
    }

    
    article{

        width: 100%;
    
    }
    
    #articles{

        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 60px;
    
    }

    .article1-img{

        width: 100%;

    }

    .article2-img{

        width: 100%;

    }

    #article2{

        padding-top: 60px;

    }



}